<!DOCTYPE html>
<html>
<head>
	<title>X___X</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="app" class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Slim REST Generator</h1>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-md-5">
			<div class="form-group">
				<div class="form-inline">
					<label>Http Method : </label>
					<button v-on:click="selectType('GET');"   v-bind:class="{ 'btn btn-success' : btn.GET,    'btn btn-default': !btn.GET }">GET</button>
					<button v-on:click="selectType('POST')"   v-bind:class="{ 'btn btn-success' : btn.POST,   'btn btn-default': !btn.POST }">POST</button>
					<button v-on:click="selectType('PUT')"    v-bind:class="{ 'btn btn-success' : btn.PUT,    'btn btn-default': !btn.PUT }">PUT</button>
					<button v-on:click="selectType('DELETE')" v-bind:class="{ 'btn btn-success' : btn.DELETE, 'btn btn-default': !btn.DELETE }">DELETE</button>
					<button v-on:click="selectType('PATCH')"  v-bind:class="{ 'btn btn-success' : btn.PATCH,  'btn btn-default': !btn.PATCH }">PATCH</button>
				</div>
			</div>

			<div class="form-group">
				<div class="form-inline">
					<label>Root : </label>
					<input v-model="root" v-on:keyup="createApi" class="form-control" placeholder="Function Name" required>
				</div>
			</div>

			<div class="form-group">
				<div class="form-inline">
					<label>Function Name : </label>
					<input v-model="funName" v-on:keyup="createApi" class="form-control" placeholder="Function Name" required>
				</div>
			</div>

			<div class="form-group">
				<div class="form-inline">
					<a href="#" v-on:click="addParam"><span class="glyphicon glyphicon-plus"></span> Add Parmas</a>
				</div>
			</div>

			<div class="form-group">
				<div v-for="item in params" class="form-group">
					<input v-model="item.name" v-on:keyup="createApi" class="form-control" placeholder="Param Name" required>
				</div>
			</div>
		</div>

		<div class="col-md-7">
			<div class="form-group">
				<div v-if="output!=''" class="row">
					<pre v-html="output"></pre>
				</div> 
			</div>
		</div>	
	</div>
</div> <!-- End Of Container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
<script>
	Vue.config.silent = false
	var app = new Vue({
		el: '#app',
		data: {
			btn: { GET : false, POST : false, PUT : false, DELETE : false, PATCH : false },
			root: 'root',
			funName: 'hello',
			type : '',
			params: [],
			output: ''
		},
		methods: {
			selectType: function(x){
				this.type = x
				this.btn = { GET : false, POST : false, PUT : false, DELETE : false, PATCH : false }

				if(x=='GET') this.btn.GET = true
				else if(x=='POST') this.btn.POST = true
				else if(x=='PUT') this.btn.PUT = true
				else if(x=='DELETE') this.btn.DELETE = true
				else if(x=='PATCH') this.btn.PATCH = true

				app.createApi()
			},
			addParam: function(){
				this.params.push( { name:'', type:'TEXT' } );
				app.createApi()
			},
			createApi: function(){
				app.output  = ''
				app.output += '$app->' + app.type.toLowerCase()
				app.output += '("{{url}}", function (Request $request, Response $response, $args) { <br>'

				for( i = 0; i < app.params.length-1; i++) {
					app.output += '	$'+ app.params[i].name +' = $request->getAttribute("'+ app.params[i].name +'");<br>'
				}
			
				app.output = app.output.replace('{{url}}', app.root + '/' + app.funName + '/')
				app.output += '   $response->getBody()->write("Hello");<br>'
				app.output += '   return $response;<br>'
				app.output += '});<br>'
			}
		}
	});
</script>
</body>
</html>